<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- 내부 css -->
    <link rel="stylesheet" href="./css/todo.css"/>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</head>

<body>

<div class="container">

    <div class="card align-middle">
        <div class="card-title mt-5" >
            <h2 class="card-title text-center" style="color:#113366;">로그인</h2>
        </div>
        <div class="card-body">
            <form class="form-signin" th:action="@{/login}" method="post">
                <h2 class="form-signin-heading">로그인 정보를 입력하세요.</h2>

                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" name="username" class="form-control mb-2" placeholder="Email address" required autofocus>

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control mb-2" placeholder="Password" required>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> 기억하기
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">로그인</button>

                <div th:if="${error}" class="alert alert-danger">
                    <p th:text="${errorMsg}"/>
                </div>
            </form>
        </div>
    </div>

    <h4 class="mt-2">
        <a href="./signup" class="text-info">Go to join! →</a>
    </h4>

</div> <!-- /container -->


</body>
</html>
