<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Todo List</title>
    <!-- Bootstrap -->
    <!-- style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
    <link rel="stylesheet" href="./css/todo.css"/>
    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="./js/todo.js"></script>
    <!--  axios  -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<noscript>
    Sorry. The Script is Not Working on This Page.
</noscript>
<script>

    let todoListDom = $('#todolist');

    $(document).ready(() => {
        loadTodoList();
        todoListDom = $('#todolist');

        //Enter key event
        $('#content').keyup((event) => {
            if(event.keyCode==13) addTodo();
        });
    });

    const contextPath = '/todo';

    //Modal
    const showModal = () => {
        $('#addTodoModal').modal('show');
        const input = $('#content');
        input.focus();
    }  

    const hideModal = () => {
        $('#addTodoModal').modal('hide');
    }    

    //Item with indicator
    const completeIndicator = (complete) => {
        if(complete) return '<div class="todo-indicator bg-success"></div>';
        else return '';
    }
    
    const makeTodoItem = (todo) => {
        return '<li class="list-group-item">' + 
            completeIndicator(todo.complete) + 
            '<div class="todo-indicator bg-focus"></div>' + 
            '<div class="widget-content p-0">' + 
                '<div class="widget-content-wrapper">' + 
                    '<div class="widget-content-left">' + 
                        '<div class="widget-heading">' + todo.content + '</div>' + 
                        '<div class="widget-subheading">' + 
                            '<div>' + todo.writer + '</div>' + 
                        '</div>' + 
                    '</div>' + 
                    '<div class="widget-content-right">' + 
                        '<button class="border-0 btn-transition btn btn-outline-success" onclick="completeTodo(' + todo.pkey + ');">' + 
                            '<i class="fa fa-check"></i>' + 
                        '</button>' + 
                        '<button class="border-0 btn-transition btn btn-outline-danger" onclick="deleteTodo(' + todo.pkey + ');">' + 
                            '<i class="fa fa-trash"></i>' + 
                        '</button>' + 
                    '</div>' + 
                '</div>' + 
            '</div>' + 
        '</li>';
    }

    const removeTodoItems = () => {
        $('.list-group-item').remove();
    }

    //Input
    const clearAddInput = () => {
        const input = $('#content');
        input.val('');
    }

    //Validation
    const validation = () =>{
        const input = $('#content');
        if(!input.val()) {
            alert('내용을 입력하시기 바랍니다.');
            return false;
        }
    }

    //Axios
    const loadTodoList = () => {
        axios.get(`${contextPath}/todos`)
            .then(
                response => {
                    removeTodoItems();
                    const data = response.data;
                    data.forEach((todo) => {
                        const listItem = makeTodoItem(todo);
                        todoListDom.append(listItem);
                    })
                }
            )
            .catch(
                error => {
                    console.log('axios get list error : ', error);
                    alert('axios get list error');
                }
            )
    }

    const addTodo = () => {

        validation();

        const content = document.getElementById('content').value;
        const data = {
            content : content
        }

        axios.post(`${contextPath}/todo`, data)
            .then(
                response => {
                    const todo = response.data;
                    const item = makeTodoItem(todo);
                    todoListDom.prepend(item);
                    hideModal();
                    clearAddInput();
                }
            )
            .catch(
                error => {
                    console.log('axios add Todo error : ', error);
                    alert('axios add Todo error : ', error);
                }
            )
    }

    const completeTodo = (pkey) => {
        const data = {
            pkey : pkey
        }
        axios.patch(`${contextPath}/complete`, data)
            .then(
                response => {
                    loadTodoList();
                }
            )
            .catch(
                error => {
                    console.log('axios add Todo error : ', error);
                    alert('axios edit Todo error : ', error);
                }
            )
    }

    const deleteTodo = (pkey) => {
        const data = {
            pkey : pkey
        }
        axios.delete(`${contextPath}/todo`, {data})
            .then(
                response => {
                    loadTodoList();
                }
            )
            .catch(
                error => {
                    console.log('axios add Todo error : ', error);
                    alert('axios delete Todo error : ', error);
                }
            )
    }

    //Logout
    const logout = () => {
        axios.get(`${contextPath}/logout`);
    }
    
</script>
<body>

    <div class="d-flex justify-content-center container" style="margin-top: 15vh !important">
        <div class="col-md-8">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal mr-auto">
                        <i class="fa fa-tasks"></i>&nbsp;
                            Todo Lists
                    </div>
                    <div>
                        <form class="m-0" th:action="@{/logout}" method="post">
                            <button id="logout" type="submit" class="btn btn-primary">
                                Logout
                            </button>
                        </form>
                    </div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <!-- Task List -->
                                <ul id="todolist" class="list-group list-group-flush">
                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
                <div class="d-block text-right card-footer">
                    <button id="addTask" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTodoModal" onclick="showModal();">
                        Add Todo
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="addTodoModal" tabindex="-1" role="dialog" aria-labelledby="addTodoModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Add Todo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <input type="text" id="content" class="form-control" required autofocus aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="addTodo();">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>