<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Todo List</title>
    <!-- Bootstrap -->
    <!-- style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <link src="./css/todo.css"/>
    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--  axios  -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/todo.js"></script>

</head>
<script>

    const contextPath = '/todo';

    $(document).ready(() => {
        loadTodoList();
    });

    const loadTodoList = () => {
        axios.get(`${contextPath}/todos`)
            .then(
                response => {
                    //response.todo;
                    //response.writer;
                    //response.complete;
                    //response.createDate;
                    //response.completeDate
                    response.forEach((todo) => {
                        let listItem = '<li class="list-group-item">' + 
                                            '<div class="todo-indicator bg-focus"></div>' + 
                                            '<div class="widget-content p-0">' + 
                                                '<div class="widget-content-wrapper">' + 
                                                    '<div class="widget-content-left mr-2">' + 
                                                        '<div class="custom-checkbox custom-control"><input class="custom-control-input" id="exampleCustomCheckbox1" type="checkbox"><label class="custom-control-label" for="exampleCustomCheckbox1">&nbsp;</label></div>' + 
                                                    '</div>' + 
                                                    '<div class="widget-content-left">' + 
                                                        '<div class="widget-heading">' + todo.content + '</div>' + 
                                                        '<div class="widget-subheading">' + 
                                                            '<div>' + todo.writer + '</div>' + 
                                                        '</div>' + 
                                                    '</div>' + 
                                                    '<div class="widget-content-right"> <button class="border-0 btn-transition btn btn-outline-success"> <i class="fa fa-check"></i></button> <button class="border-0 btn-transition btn btn-outline-danger"> <i class="fa fa-trash"></i> </button> </div>' + 
                                                '</div>' + 
                                            '</div>' + 
                                        '</li>';
                        $('#todolist').append(listItem);
                    })
                }
            )
            .catch(
                error => {
                    alert('axios test error');
                }
            )
    }

    const addTodo = () => {
        const content = document.getElementById('content').value;
        const param = {
            content : content
        }

        axios.post(`${contextPath}/todo`, {param})
            .then(
                response => {
                    loadTodoList();
                }
            )
            .catch(
                error => {
                    alert('axios add Todo error : ', error);
                }
            )
    }

    const editTodo = () => {
        axios.put(`${contextPath}/todo`)
            .then(
                response => {
                    alert('axios test');
                }
            )
            .catch(
                error => {
                    alert('axios edit Todo error : ', error);
                }
            )
    }

    const deleteTodo = () => {
        axios.delete(`${contextPath}/todos`)
            .then(
                response => {
                    alert('axios test');
                }
            )
            .catch(
                error => {
                    alert('axios delete Todo error : ', error);
                }
            )
    }
</script>
<body>

    <div class="d-flex justify-content-center container" style="margin-top: 15vh !important">
        <div class="col-md-8">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Task Lists</div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul id="todolist" class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-warning"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-2">
                                                    <div class="custom-checkbox custom-control"> <input class="custom-control-input" id="exampleCustomCheckbox12" type="checkbox"><label class="custom-control-label" for="exampleCustomCheckbox12">&nbsp;</label> </div>
                                                </div>
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Call Sam For payments <div class="badge badge-danger ml-2">Rejected</div>
                                                    </div>
                                                    <div class="widget-subheading"><i>By Bob</i></div>
                                                </div>
                                                <div class="widget-content-right"> <button class="border-0 btn-transition btn btn-outline-success"> <i class="fa fa-check"></i></button> <button class="border-0 btn-transition btn btn-outline-danger"> <i class="fa fa-trash"></i> </button> </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
                <div class="d-block text-right card-footer">
                    <button id="addTask" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Add Task
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Add Todo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <input type="text" id="content" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="addTodo();">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>